*.gz
*.csv
# Jupyter Notebook
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IPython
profile_default/
ipython_config.py

Timeline.xlsx

2_docker_sql/Data/
2_docker_sql/output.csv
2_docker_sql/output.csv.gz
2_docker_sql/ny_taxi_postgres_data/
